<style type="text/css">
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input.ng-invalid.ng-dirty {
background-color: #FA708E;
}

.form-signin input.ng-valid.ng-dirty {
background-color: #78FA80;
}
</style>

<div class="container" ng-controller='LoginController'>
    <alert ng-repeat='alert in alerts' type="{{alert.type}}" ng-show="alert.visible">{{alert.msg}}</alert>
      <form class="form-signin" novalidate >
        <h3 class="form-signin-heading">Please sign in</h3>
        <input type="email" class="form-control" placeholder="Email Address"  autofocus="true" required ng-model="user.email">
        <input type="password" class="form-control" placeholder="Password" required ng-model="user.password">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me" ng-model='user.remember_me'> Remember me
          </label>
        </div>
        <button class="btn btn-primary btn-block" type="submit" ng-click="submit()" >Sign in</button>
      </form>
</div>
