<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="pageLocation='index'"><img src="logo.png" alt="RMG Logo" style="height: 35px; margin-top: -10px;"></a><a class="navbar-brand" href="#/">RMG Real Teen Patti</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav" ng-controller='URLController'>
            <li ng-class="navClass('admin')"><a href="#/admin">Admin</a></li>
            <li ng-class="navClass('concurrents')"><a href="#/concurrents">Concurrents</a></li>
            <li ng-class="navClass('dau')"><a href="#/dau">DAU</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
