<div class="contianer">
        <div style="margin-left: 10px; margin-right: 10px;">
          <tabset>
            <tab >
                <tab-heading>
                    DAU
                </tab-heading>
                DAU comming soon
            </tab>
            <tab >
              <tab-heading>
                Concurrents
              </tab-heading>
              Concurrents comming soon
            </tab>
          </tabset>
    </div>
</div>
